.hero {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 8rem;
    text-decoration: none;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link {
    text-decoration: none;
    color: #1e1e1e;
}