@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

.App {
    width: 40rem;
    display: flex;
    gap: 4.5rem;
    flex-direction: column;
    margin: auto;
    padding-top: 6rem;
    padding-bottom: 4rem;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #1e1e1e;
    line-height: 1.5rem;
    text-decoration: none;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.link-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}